{% extends "base.html" %}

{% block content %}
<h1 class="title">
    <b>Know About IP</b>
</h1>
<div class="box">
    <form method="POST" action="/">
        {% if message %}
        <p style="color:red;"><b>{{message}}</b></p>
        <br>
        {% endif %}
        <div class="field">
            <div class="control">
                <input class="input" type="text" name="ip" placeholder="Enter V4 IP"  required>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="button is-block is-info is-fullwidth">Get Details</button>
        </div>
    </form>
</div>
{% endblock %}
